*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
}

body{
    background:url("bg.gif");
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    list-style: none;
    
    
}

p{
    margin-top: 1em ;
  margin-bottom: 1em ;

}


.container{
    margin: auto;
    height: 100%;
    color: #fff;
    width:60%;

} 
.container h1{
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 45px;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    animation: type 10s steps(27);
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-right: 3px white solid;
    text-shadow: 0 0 10px #ffffff;
    font-size: 250%;
    width: 27ch;
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 28ch;
    }
}



 #Player1{
    
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 70%;
    padding: 50px;
    text-align: center;


    
}
.Music{
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  
}


.Player h2{
    font-size: 14px;
}
#Playlist1{
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 50%;
    padding: 50px;
    line-height: 2em;
    

}
.box h2{
    padding-bottom: 1em;
    font-size: 40px;
    margin: auto;
    line-height: 1.6em;
    text-align: center;
}
#About1{
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 10%;
    padding: 50px;
    line-height: 2em;
    
    
}
#about h3{
    padding-bottom: 5px;
}


#Playlist1:hover{
    transition: all 0.5s linear;
    box-shadow: 6px 6px 10px 0px  #7a7c7c;
    border-radius: 7px;

}
audio:hover{
    transition: all 0.5s linear;
    box-shadow: 6px 6px 10px 0px  #7a7c7c;
    border-radius: 7px;

}
#About1:hover{
    transition: all 0.5s linear;
    box-shadow: 6px 6px 10px 0px #7a7c7c;
    border-radius: 7px;
}

#footer1{
    display: block;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 1px;
    padding-left:25%;
    font-size: 10px;
    color: rgba(245, 219, 219, 0.637);
    

}


a:link{
    color: white;
    text-decoration: underline;
}


nav{
    position: fixed;
    width: 40px;
    top: 50%;
    transition: all 0.3s linear;
    box-shadow:2px 2px 8px 0 rgba(0, 0, 0, 0,4);
}

nav li{
    height: 60x;
    position: relative;
   
}

nav li a{
  color: white;
  display: block;
  height: 50%;
  width: 100%;
  line-height: 50px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .3s linear;
    
}
nav li:nth-child(1) a{
  background: #888888;
}
nav li:nth-child(2) a{
  background: #3b3939;
}
nav li:nth-child(3) a{
  background: #1a1919;
}

nav li:nth-child(4) a{
    background: #000000;
  }
v li a i{
    position:absolute;
    top: 5px;
    left: 15px;
    font-size: 20px;
  }
ul li a span{
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
nav li:hover {
    z-index:1;
    width: 200px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  }
nav li:hover a span{
    padding-left: 0%;
    display: block;
  }
