@import 'utils';
@import 'variables';

html{
    scroll-behavior: smooth;
}

//body
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    color:#fcfcfc;
    background-image: url(../assets/Endless-Constellation.svg);

    
}

.header {
    /* Stick to the top */
    position: sticky;
    top: 0;
}

nav{
    background-color: #494454;
}

.home{
    border: 1px red solid;
    display:flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;

    #title{
        border: 1px solid green;
    }
    
    #image{
        border: 1px solid pink;
    }
}



.container {
    height: 100%;
}

.container__section {
    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Stick to the top */
    position: sticky;
    top: 0;
    
    
}


