@import 'utils';
@import 'variables';


//body
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    
}

//navbar
.navbar{
    background-color: $d-dark-bg;
    color: $dark-text;
    position: relative;
    h1{
        color: $headings;
    }
}

.navbar ul{
    display: flex;
}

.navbar a{
    padding: 10px;
    margin: 0 3px;
    text-decoration: none;
}
.navbar a:hover{
    color: $light-secondary;
    border-bottom: 1px solid $headings;
}

//landing page 
.landing-page{
    background-color: $dark-bg;
    height: 100vh;
    color: $dark-text;
}
.landing-page .container{
    h1{
        font-size: 40px;
        color: $headings;
    }
    p{
        padding-bottom: 15px;
    }
    a{
        padding-left: 5px;
        color: $dark-text;
    }
}
.btn{
    padding: 10px;
    border-radius: 5%;
    border: 1px solid  $dark-text;
}

.btn:hover{
    color: $light-secondary;
    border: 2px solid $headings;
}